* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background: url('./public/umugongo.png') no-repeat;
}

a:hover {
    opacity: 0.8
}

/* styles.css */
.writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.text-stroke{
    -webkit-text-stroke: 2px black;
}

.flavor::before{
    content: url('./public/green-underline.png');
    position: absolute;
    z-index: -10;
    top: 20%;
    transform: scale(.8) translate(-10%,-15%);
}

/* Colors */
/* 
$kelly-green: #72B628ff;
$outer-space-4: #464746ff;
$macadamia: #95411Fff;
@goldenBerry: #FD9013ff;
$text: #ffff */